.button {
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;

  padding: 0.2rem 0.8rem;
  border: 1px solid transparent;
  border-radius: var(--radius-md);
  color: var(--color-content-300);
}

.button > .icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.icon-button {
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.4rem;
  border: 1px solid transparent;
  border-radius: var(--radius-md);
}

.icon-button > .icon {
  width: 18px;
  height: 18px;
}

.icon-button > span {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button.rounded,
.icon-button.rounded {
  border-radius: 99px;
}

.button.ghost,
.icon-button.ghost {
  background-color: transparent;
}

.button.ghost:hover,
.icon-button.ghost:hover {
  background-color: var(--color-surface-200);
  border-color: var(--color-border-100);
}

.button.primary,
.icon-button.primary {
  color: oklch(28% 0.053 255);
  background-color: var(--color-primary-100);
  border-color: var(--color-border-100);
}

.button.primary:hover,
.icon-button.primary:hover {
  background-color: var(--color-primary-200);
}

.button.secondary,
.icon-button.secondary {
  background-color: var(--color-surface-100);
  border-color: var(--color-border-100);
}

.button.secondary:hover,
.icon-button.secondary:hover {
  background-color: var(--color-surface-200);
}

.button.disabled,
.icon-button.disabled {
  color: var(--color-content-100);
  cursor: default;
}

.button.active,
.icon-button.active {
  border-width: 2px;
  border-color: var(--color-secondary-300);
}
