.button {
  cursor: pointer;
  user-select: none;
  padding: 0.2rem 0.8rem;
  border: 1px solid transparent;
  border-radius: var(--radius-md);
  color: var(--color-content-300)
}

.icon-button {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  padding: 0.4rem;
  border: 1px solid transparent;
  border-radius: var(--radius-md);
}

.button.rounded,
.icon-button.rounded {
  border-radius: 99px;
}

.button.ghost,
.icon-button.ghost {
  background-color: transparent;
}


.button.ghost:hover,
.icon-button.ghost:hover {
  background-color: var(--color-surface-200);
  border-color: var(--color-border-100);
}

.button.primary,
.icon-button.primary {
  background-color: var(--color-primary-100);
  border-color: var(--color-border-100);
}

.button.primary:hover,
.icon-button.primary:hover {
  background-color: var(--color-primary-200);
}

.button.secondary,
.icon-button.secondary {
  background-color: var(--color-surface-100);
  border-color: var(--color-border-100);
}

.button.secondary:hover,
.icon-button.secondary:hover {
  background-color: var(--color-surface-200);
}