.input {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.4rem 0.8rem;

  background-color: var(--color-surface-100);
  border-radius: var(--radius-lg);
  border: 1px solid var(--color-border-100);
}

.input.icon {
  width: 16px;
  height: 16px;
}

.input:focus-within {
  outline: 2px solid var(--color-primary-300);
}

.input input {
  width: 100%;
  outline: none;
}
