.title-1 {
  font-size: 2rem;
  font-family: var(--font-title);

}


.title-2 {
  font-size: 1.5rem;
  font-family: var(--font-title);
}



.title-3 {
  font-size: 1rem;
  font-family: var(--font-title);
}

.paragraph {
  font-size: 1rem;
  font-family: var(--font-paragraph);
}


.paragraph.big {
  font-size: 1.5rem;
  font-family: var(--font-paragraph);
}