---
import HtmlLayout from "@/layouts/HtmlLayout.astro";
import HeaderLayout from "@/layouts/HeaderLayout.astro";
import FooterLayout from "@/layouts/FooterLayout.astro";
import Breadcrumb from "@/components/ui/Breadcrumb.astro";
---

<HtmlLayout
  pageTitle="La falla de zunbeltz: Buscar"
  pageDescription="Buscar en el blog de Zunbeltz"
>
  <HeaderLayout />
  <div class="container">
    <main class="content">
      <Breadcrumb />
      <h1 class="title-1">¿Qué estás buscando?</h1>
      <div id="search"></div>
      <script>
        window.addEventListener("DOMContentLoaded", (event) => {
          // @ts-ignore
          new PagefindUI({ element: "#search", showSubResults: true });
        });
      </script>
    </main>
  </div>
  <FooterLayout />
</HtmlLayout>

<style>
  .container {
    min-height: 100svh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    border-radius: var(--radius-2xl);
  }
</style>
