---
import HtmlLayout from "@/layouts/HtmlLayout.astro";
import type { MetaInfo } from "@/components/SEO/MetaInfo";
import og_escuela from "@/assets/opengraph/og_escuela.jpg";

const meta: MetaInfo = {
  pageTitle: "Biblioteca Técnica y Bibliografía | Zunbeltz",
  pageDescription:
    "Recopilación de manuales, libros y artículos imprescindibles para el espeleólogo y montañero curioso.",
  pageTags: [
    "Libros espeleología",
    "Manuales técnicos",
    "Bibliografía montaña",
    "Recursos PDF",
  ],
  pageImage: og_escuela.src,

  pageUrl: `https://zunbeltz.org/aprende/biblioteca`,
};
---

<HtmlLayout metaInfo={meta}>
  <main>
    <h1>Biblioteca Técnica</h1>
  </main>
</HtmlLayout>

<style>
  main {
    min-height: 100vh;
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1.5rem;
  }
</style>
