---
import HtmlLayout from "@/layouts/HtmlLayout.astro";
import HeaderLayout from "@/layouts/HeaderLayout.astro";
import FooterLayout from "@/layouts/FooterLayout.astro";
---

<HtmlLayout
  pageTitle="Biblioteca Técnica | Zunbeltz"
  pageDescription="Libros, revistas y documentos técnicos sobre espeleología, barranquismo y escalada"
  pageTags={[
    "biblioteca",
    "documentación",
    "libros",
    "revistas",
    "técnica",
    "espeleología",
  ]}
>
  <HeaderLayout />
  <main>
    <h1>Biblioteca Técnica</h1>
  </main>
  <FooterLayout />
</HtmlLayout>

<style>
  main {
    min-height: 100vh;
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1.5rem;
  }
</style>
