---
import HtmlLayout from "@/layouts/HtmlLayout.astro";
import HeaderLayout from "@/layouts/HeaderLayout.astro";
import FooterLayout from "@/layouts/FooterLayout.astro";
---

<HtmlLayout
  pageTitle="Cursos Presenciales | Zunbeltz"
  pageDescription="Pon en práctica tus deportes favoritos en Navarra. Cursos presenciales de espeleología, barranquismo y escalada"
  pageTags={[
    "cursos presenciales",
    "formación",
    "navarra",
    "espeleología",
    "barranquismo",
    "escalada",
  ]}
>
  <HeaderLayout />
  <main>
    <h1>Cursos Presenciales</h1>
  </main>
  <FooterLayout />
</HtmlLayout>

<style>
  main {
    min-height: 100vh;
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1.5rem;
  }
</style>
