---
import HtmlLayout from "@/layouts/HtmlLayout.astro";
import HeaderLayout from "@/layouts/HeaderLayout.astro";
import FooterLayout from "@/layouts/FooterLayout.astro";
---

<HtmlLayout
  pageTitle="Cursos Presenciales | Zunbeltz"
  pageDescription="Pon en práctica tus deportes favoritos en Navarra. Cursos presenciales de espeleología, barranquismo y escalada"
  pageTags={[
    "cursos presenciales",
    "formación",
    "navarra",
    "espeleología",
    "barranquismo",
    "escalada",
  ]}
>
  <HeaderLayout />
  <main class="min-h-screen bg-white max-w-4xl mx-auto px-6 py-12">
    <h1>Cursos Presenciales</h1>
  </main>
  <FooterLayout />
</HtmlLayout>
