---
import HtmlLayout from "@/layouts/HtmlLayout.astro";
import HeaderLayout from "@/layouts/HeaderLayout.astro";
import FooterLayout from "@/layouts/FooterLayout.astro";
---

<HtmlLayout
  pageTitle="Escuela Zunbeltz | Aprende"
  pageDescription="Aprende espeleología, barranquismo y escalada con la Escuela Zunbeltz. Cursos online y presenciales"
  pageTags={[
    "escuela",
    "aprendizaje",
    "cursos",
    "espeleología",
    "barranquismo",
    "escalada",
  ]}
>
  <HeaderLayout />
  <main class="min-h-screen bg-white max-w-4xl mx-auto px-6 py-12">
    <h1>Escuela Zunbeltz</h1>
  </main>
  <FooterLayout />
</HtmlLayout>
