---
import HtmlLayout from "@/layouts/HtmlLayout.astro";
import type { MetaInfo } from "@/components/SEO/MetaInfo";

const meta: MetaInfo = {
  pageTitle: "Aula Virtual: Cursos Online | Zunbeltz",
  pageDescription:
    "Mejora tu conocimiento con cursos online en todas las disciplinas. Formación flexible y de calidad",
  pageTags: [
    "E-learning",
    "Cursos online",
    "Tutoriales espeleología",
    "Nudos",
    "Técnica",
  ],
  pageUrl: `https://zunbeltz.org/aprende/online`,
};
---

<HtmlLayout metaInfo={meta}>
  <main>
    <h1>Aprende Online</h1>
  </main>
</HtmlLayout>

<style>
  main {
    min-height: 100vh;
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1.5rem;
  }
</style>
