---
import HtmlLayout from "@/layouts/HtmlLayout.astro";
import HeaderLayout from "@/layouts/HeaderLayout.astro";
import FooterLayout from "@/layouts/FooterLayout.astro";
---

<HtmlLayout
  pageTitle="Aprende Online | Zunbeltz"
  pageDescription="Mejora tu conocimiento con cursos online en todas las disciplinas. Formación flexible y de calidad"
  pageTags={[
    "cursos online",
    "formación",
    "aprendizaje",
    "espeleología",
    "barranquismo",
  ]}
>
  <HeaderLayout />
  <main>
    <h1>Aprende Online</h1>
  </main>
  <FooterLayout />
</HtmlLayout>

<style>
  main {
    min-height: 100vh;
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1.5rem;
  }
</style>
