---
import HtmlLayout from "@/layouts/HtmlLayout.astro";
---

<HtmlLayout
  pageTitle="Recorrido de Aprendizaje | Zunbeltz"
  pageDescription="El camino del buen amante de la aventura. Descubre tu ruta de aprendizaje personalizada"
  pageTags={["aprendizaje", "recorrido", "formación", "aventura", "progresión"]}
>
  <main>
    <h1>Recorrido de Aprendizaje</h1>
  </main>
</HtmlLayout>

<style>
  main {
    min-height: 100vh;
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1.5rem;
  }
</style>
