---
import HtmlLayout from "@/layouts/HtmlLayout.astro";
---

<HtmlLayout
  pageTitle="Generador de Fichas | Zunbeltz"
  pageDescription="Herramienta para generar fichas técnicas de instalación espeleológica. Crea documentación profesional"
  pageTags={[
    "fichas",
    "espeleología",
    "herramienta",
    "instalación",
    "documentación",
  ]}
>
  <main>
    <h1>Generador de Fichas</h1>
  </main>
</HtmlLayout>

<style>
  main {
    min-height: 100vh;
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1.5rem;
  }
</style>
