---
import HtmlLayout from "@/layouts/HtmlLayout.astro";
import type { MetaInfo } from "@/components/SEO/MetaInfo";

const meta: MetaInfo = {
  pageTitle: "Diario de Exploraciónes subterraneas | Zunbeltz",
  pageDescription:
    "Novedades del frente. Descubrimientos recientes, nuevas galerías y campañas espeleológicas activas en Navarra.",
  pageTags: [
    "Exploración espeleológica",
    "Nuevas cuevas",
    "Campañas",
    "Navarra",
    "Zunbeltz",
    "Expediciones",
  ],
  pageUrl: `https://zunbeltz.org/exploracion/novedades`,
};
---

<HtmlLayout metaInfo={meta}>
  <main>
    <h1>Diario de Exploraciónes subterraneas</h1>
  </main>
</HtmlLayout>

<style>
  main {
    min-height: 100vh;
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1.5rem;
  }
</style>
