---
import HtmlLayout from "@/layouts/HtmlLayout.astro";
import HeaderLayout from "@/layouts/HeaderLayout.astro";
import FooterLayout from "@/layouts/FooterLayout.astro";
---

<HtmlLayout
  pageTitle="Últimas Exploraciones | Zunbeltz"
  pageDescription="Novedades en la exploración espeleológica de Navarra. Descubre las últimas expediciones y hallazgos"
  pageTags={[
    "exploración",
    "espeleología",
    "novedades",
    "expediciones",
    "navarra",
  ]}
>
  <HeaderLayout />
  <main>
    <h1>Últimas Exploraciones</h1>
  </main>
  <FooterLayout />
</HtmlLayout>

<style>
  main {
    min-height: 100vh;
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1.5rem;
  }
</style>
