---
import HtmlLayout from "@/layouts/HtmlLayout.astro";
import type { MetaInfo } from "@/components/SEO/MetaInfo";

const meta: MetaInfo = {
  pageTitle: "Topografía y Cartografía Subterránea | Zunbeltz",
  pageDescription:
    "Método, herramientas y software de topografía de cavidades. Aprende las técnicas de medición subterránea",
  pageTags: [
    "Topografía",
    "Herramientas",
    "Software",
    "Técnicas",
    "Cartografía",
    "Planos",
    "Espeleometría",
  ],
  pageUrl: `https://zunbeltz.org/exploracion/topografia`,
};
---

<HtmlLayout metaInfo={meta}>
  <main>
    <h1>Topografía Espeleológica</h1>
  </main>
</HtmlLayout>

<style>
  main {
    min-height: 100vh;
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1.5rem;
  }
</style>
