---
import HtmlLayout from "@/layouts/HtmlLayout.astro";
import HeaderLayout from "@/layouts/HeaderLayout.astro";
import FooterLayout from "@/layouts/FooterLayout.astro";
---

<HtmlLayout
  pageTitle="Topografía Espeleológica | Zunbeltz"
  pageDescription="Método, herramientas y software de topografía de cavidades. Aprende las técnicas de medición subterránea"
  pageTags={[
    "topografía",
    "espeleología",
    "herramientas",
    "software",
    "técnicas",
    "medición",
  ]}
>
  <HeaderLayout />
  <main>
    <h1>Topografía Espeleológica</h1>
  </main>
  <FooterLayout />
</HtmlLayout>

<style>
  main {
    min-height: 100vh;
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1.5rem;
  }
</style>
