/* Menu Container */

.List {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* Menu Items */

.Trigger,
.Link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 6px;
  padding: 12px 16px;

  font-size: 1.2rem;
  line-height: 1.2rem;

  background-color: var(--color-surface-200);
  border: 1px solid var(--color-border-100);

  &:hover {
    background-color: var(--color-surface-100);
  }
}

.Link {
  cursor: pointer;
}

.CaretDown {
  width: 18px;
  height: 18px;
  transition: transform 0.3s ease;
}

.Trigger[data-state="open"] .CaretDown {
  transform: rotate(-180deg);
}

/* Content */

.Content {
  overflow: hidden;

  &[data-state="open"] {
    animation: slideDown 0.3s ease;
  }

  &[data-state="closed"] {
    animation: slideUp 0.3s ease;
  }
}

.SubmenuList {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
}

/* Submenu Links */

.SubmenuLink {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  gap: 4px;

  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  background-color: var(--color-surface-200);
  border-left: 3px solid var(--color-primary-300);

  &:hover {
    background-color: var(--color-surface-100);
  }

  .title {
    color: var(--color-primary-300);
    line-height: 1.2;
  }

  .external {
    color: var(--color-secondary-300);
  }

  .desc {
    font-size: 0.85rem;
    line-height: 1.3;
  }
}

/* Navarra Callout */

.NavarraCallout {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
  max-height: 80px;

  background: linear-gradient(225deg, transparent, rgb(150, 0, 0));
  border-radius: 6px;
  padding: 20px;

  img {
    position: absolute;
    max-height: 80px;
    opacity: 0.2;
    scale: 2;
    transform: rotate(-20deg);
    z-index: 0;
  }

  p {
    font-size: 1.5rem;
    font-family: var(--font-title);
    text-align: center;
    z-index: 1;
    color: rgb(238, 238, 238);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  }
}

/* Learn Callout */

.LearnCallout {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
  max-height: 80px;

  border-radius: 6px;
  padding: 20px;


  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.7;
    z-index: 0;
  }

  p {
    font-size: 1.5rem;
    font-family: var(--font-title);
    text-align: center;
    z-index: 1;
    color: rgb(238, 238, 238);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  }

}

.LearnCallout .BgBlue {
  display: none;
}

.LearnCallout .BgGreen {
  display: block;
}

[data-theme="dark"] .LearnCallout .BgBlue {
  display: block;
}

[data-theme="dark"] .LearnCallout .BgGreen {
  display: none;
}

/* Animations */

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes slideDown {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    height: var(--radix-navigation-menu-viewport-height);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-navigation-menu-viewport-height);
    opacity: 1;
  }

  to {
    height: 0;
    opacity: 0;
  }
}