/* Layout */
.Root {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.MenuList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  padding: 4px;
  border-radius: 8px;
  border: 1px solid var(--color-border-100);
  background-color: var(--color-surface-200);
  box-shadow: var(--shadow-md);

  text-wrap: nowrap;
  user-select: none;
}

/* Link primario para menu y trigger */

.Trigger,
.Link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;

  border-radius: 6px;
  padding: 8px 12px;
  line-height: 1;

  &:hover {
    background-color: var(--color-surface-100);
  }
}

.Link {
  cursor: pointer;
}

.CaretDown {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  position: relative;
  top: 1px;

  transition: transform 250ms ease;

  [data-state="open"]>& {
    transform: rotate(-180deg);
  }
}

/* Caja de contenido desplegable */

.Content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  border-radius: 8px;
  padding: 12px;
  background-color: var(--color-surface-200);

  animation-duration: 250ms;
  animation-timing-function: ease;

  &[data-motion="from-start"] {
    animation-name: enterFromLeft;
  }

  &[data-motion="from-end"] {
    animation-name: enterFromRight;
  }

  &[data-motion="to-start"] {
    animation-name: exitToLeft;
  }

  &[data-motion="to-end"] {
    animation-name: exitToRight;
  }

  @media only screen and (min-width: 600px) {
    width: auto;
  }
}

/* Layout para caja de contenido */

.Grid2x2 {
  width: 500px;
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
}

.Grid1x3 {
  width: 500px;
  display: grid;
  gap: 12px;
  grid-template-columns: 0.6fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.Span3 {
  grid-row: span 3 / span 3;
}

/* Callout Navarra */
.Navarra {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  background: linear-gradient(225deg, transparent, rgb(150, 0, 0));
  border-radius: 6px;
  padding: 24px;

  img {
    position: absolute;
    opacity: 0.2;
    transform: rotate(-20deg);
    z-index: 0;
  }

  p {
    font-size: 2rem;
    font-family: var(--font-title);
    text-align: right;
    z-index: 1;
    color: rgb(238, 238, 238);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  }
}

/* Callout Escuela */
.Learn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80px;

  margin-bottom: 12px;
  position: relative;
  overflow: hidden;

  border-radius: 6px;
  padding: 24px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.7;
    z-index: 0;
  }

  p {
    font-size: 2rem;
    font-family: var(--font-title);
    text-align: center;
    z-index: 1;
    color: rgb(238, 238, 238);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  }
}

.BgBlue {
  display: none;
}

.BgGreen {
  display: block;
}

[data-theme="dark"] {
  .BgBlue {
    display: block;
  }

  .BgGreen {
    display: none;
  }
}

/* Link de caja de contenido */

.GridLink {
  cursor: pointer;

  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4px;

  border-radius: 6px;
  padding: 8px 12px;
  line-height: 1;

  &:hover {
    background-color: var(--color-surface-100);
  }

  .title {
    color: var(--color-primary-300);
  }

  .external {
    color: var(--color-secondary-300);
  }

  .desc {
    font-size: 0.8rem;
  }
}


/* Viewport */

.ViewportPosition {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 100%;
  left: 0;
}

.Viewport {
  position: relative;
  transform-origin: top center;
  margin-top: 10px;
  width: 100%;
  height: var(--radix-navigation-menu-viewport-height);
  overflow: hidden;

  background-color: var(--color-surface-200);
  border-radius: 8px;
  border: 1px solid var(--color-border-100);

  box-shadow: var(--shadow-lg);
  transition:
    width,
    height,
    300ms ease;

  &[data-state="open"] {
    animation: scaleIn 200ms ease;
  }

  &[data-state="closed"] {
    animation: scaleOut 200ms ease;
  }

  @media only screen and (min-width: 600px) {
    width: var(--radix-navigation-menu-viewport-width);
  }
}

/* Flecha decorativa */

.Indicator {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 10px;
  top: 100%;
  overflow: hidden;
  z-index: 1;
  transition:
    width,
    transform 250ms ease;

  &[data-state="visible"] {
    animation: fadeIn 200ms ease;
  }

  &[data-state="hidden"] {
    animation: fadeOut 200ms ease;
  }

  .Arrow {
    position: relative;
    top: 70%;
    background-color: var(--color-border-100);
    box-shadow: var(--shadow-md);
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-top-left-radius: 2px;
  }
}

/* Animaciones */

@keyframes enterFromRight {
  from {
    opacity: 0;
    transform: translateX(200px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes enterFromLeft {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes exitToRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(200px);
  }
}

@keyframes exitToLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(-200px);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: rotateX(-30deg) scale(0.9);
  }

  to {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }

  to {
    opacity: 0;
    transform: rotateX(-10deg) scale(0.95);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}