---
import HtmlLayout from "@/layouts/HtmlLayout.astro";
import NavLayout from "@/layouts/NavLayout.astro";
---

<HtmlLayout pageTitle="Zunbeltz.org">
  <NavLayout>
    <h1>Astro</h1>
  </NavLayout>
</HtmlLayout>
