---
import HtmlLayout from "@/layouts/HtmlLayout.astro";
import HeaderLayout from "@/layouts/HeaderLayout.astro";
---

<HtmlLayout pageTitle="Hola mundo">
  <HeaderLayout />
  <main>
    <h1>Hola mundo</h1>
  </main>
  <footer></footer>
</HtmlLayout>
