---
import HtmlLayout from "@/layouts/HtmlLayout.astro";
import PostCard from "@/components/blog/PostCard.astro";
import Pagination from "@/components/ui/Pagination.astro";
import BlogLayout from "@/layouts/BlogLayout.astro";
import type { MetaInfo } from "@/components/SEO/MetaInfo";
import { getAllPosts } from "@/services/strapi/repositories/post.repo";

const posts = await getAllPosts();

const meta: MetaInfo = {
  pageTitle: "La Falla de Zunbeltz: Blog de Espeleología y Aventura",
  pageDescription: "Crónicas desde el subsuelo y otras zonas sin cobertura",
  pageTags: [
    "Espeleología",
    "Blog Montaña",
    "Aventuras Navarra",
    "Zunbeltz",
    "Exploración",
  ],
  pageUrl: `https://zunbeltz.org/`,
};
---

<HtmlLayout metaInfo={meta}>
  <BlogLayout>
    <div class="posts-list">
      {posts.map((post) => <PostCard post={post} />)}
    </div>

    <!-- TODO: Implementar paginación -->
    <Pagination currentPage={1} totalPages={3} />
  </BlogLayout>
</HtmlLayout>

<style>
  .posts-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
</style>
