---
import HtmlLayout from "@/layouts/HtmlLayout.astro";
import HeaderLayout from "@/layouts/HeaderLayout.astro";
import FooterLayout from "@/layouts/FooterLayout.astro";
---

<HtmlLayout
  pageTitle="Zunbeltz | Espeleología en Navarra"
  pageDescription="Tu portal sobre espeleología, barranquismo y escalada en Navarra. Descubre cuevas, montañas, ríos y aprende con nosotros"
  pageTags={[
    "espeleología",
    "barranquismo",
    "escalada",
    "naturaleza",
    "navarra",
    "cuevas",
    "aventura",
  ]}
>
  <HeaderLayout />
  <main>
    <h1>La Falla</h1>
  </main>
  <FooterLayout />
</HtmlLayout>

<style>
  main {
    min-height: 100vh;
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1.5rem;
  }
</style>
