---
import ThemeSwitcher from "@/components/atoms/ThemeSwitcher.astro";
import HtmlLayout from "@/layouts/HtmlLayout.astro";
---

<HtmlLayout pageTitle="Zunbeltz.org">
  <h1>Astro</h1>
  <ThemeSwitcher />
</HtmlLayout>
