---
import ThemeSwitcher from "@/components/molecules/ThemeSwitcher.astro";
import AuthLayout from "@/layouts/AuthLayout.astro";
import HtmlLayout from "@/layouts/HtmlLayout.astro";
---

<HtmlLayout pageTitle="Zunbeltz.org">
  <AuthLayout />
  <ThemeSwitcher />
  <h1>Astro</h1>
</HtmlLayout>
