---
import ThemeSwitcher from "@/components/theme/ThemeSwitcher.astro";
import HtmlLayout from "@/layouts/HtmlLayout.astro";
---

<HtmlLayout pageTitle="Hola mundo">
  <main class="w-full h-screen bg-surface-100 text-content-100 font-paragraph">
    <h1 class="text-4xl">Hola mundo</h1>
    <ThemeSwitcher />
  </main>
</HtmlLayout>
