.cl-userButtonBox {
  justify-content: end;
  border-radius: var(--radius-md) 18px 18px var(--radius-md);
  border: 1px solid var(--color-border-100);
  background-color: var(--color-surface-100);
  height: 32px;
}

.cl-userButtonBox:hover {
  background-color: var(--color-surface-200);
}

.cl-userButtonAvatarBox {
  border: 2px solid var(--color-border-300);
  box-shadow: var(--shadow-lg);
  width: 36px;
  height: 36px;
}

.cl-signed-out {
  width: 100%;
}
