---
import AccountControls from "../authentication/AccountControls.astro";
import { Navigation } from "../navigation/Navigation";
import ThemeSwitcher from "../theme/ThemeSwitcher.astro";
---

<header>
  <div class="logo"><a href="/">Zunbeltz</a></div>

  <div class="desktop-nav">
    <Navigation client:load />
  </div>

  <div class="desktop-controls">
    <AccountControls />
    <ThemeSwitcher />
  </div>
</header>

<!-- Spacer para compensar el header fijo -->
<div class="headerSpacer"></div>

<style>
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
    height: 3.75rem;
  }

  .headerSpacer {
    height: 3.75rem;
  }

  .logo {
    font-family: var(--font-title);
    font-size: 1.25rem;
    min-width: 250px;
  }
  .desktop-nav {
    flex: 1;
  }

  .desktop-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
    min-width: 250px;
  }
</style>
