.search {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: var(--radius-md);
  border: 2px solid var(--color-border-100);
  max-width: 800px;
  margin: auto;
  transition: border-color 0.2s ease, box-shadow 0.2s ease, border-radius 0.6s ease;
}

.search:focus-within {
  border-radius: 99px;
}

.icon {
  flex-shrink: 0;
}

.input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  font-size: 1rem;
  padding: 0;
}