---
import { getCategoriesWithCountArray } from "@/lib/blog/categories";

const categories = await getCategoriesWithCountArray();
---

<aside>
  <header>
    <h3 class="title-3">Categorías</h3>
  </header>

  <ul class="list">
    {
      categories.map((category) => (
        <li>
          <a class="anchor" href={`/blog/categoria/${category.name}`}>
            {category.name}
          </a>
          <span class="count">({category.count})</span>
        </li>
      ))
    }
  </ul>
</aside>

<style>
  h3 {
    text-align: right;
    color: var(--color-content-300);
  }
  .list {
    max-width: 320px;
    padding-right: 1rem;
  }

  li {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 0.5rem;
  }

  .count {
    font-size: 0.8rem;
    color: var(--color-content-200);
  }
</style>
