---
import { getCategoriesWithCountArray } from "@/utils/blog/categories";

const categories = await getCategoriesWithCountArray();
---

<aside class="categories-widget">
  <header class="categories-header">
    <h3 class="categories-title title-3">
      <a href="/blog/categoria" class="anchor neutral">Categorías</a>
    </h3>
  </header>
  <ul class="categories-list">
    {
      categories.map((category) => (
        <li class="category-item">
          <a class="anchor primary" href={`/blog/categoria/${category.name}`}>
            {category.name}
          </a>
          <span class="post-count">({category.count})</span>
        </li>
      ))
    }
  </ul>
</aside>

<style>
  .categories-title {
    color: var(--color-content-300);
  }

  .categories-list {
    max-width: 320px;
    padding-left: 1rem;
  }

  .category-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .post-count {
    font-size: 0.8rem;
    color: var(--color-content-200);
  }
</style>
