---
import { getAuthorsWithPosts, getAuthorPostCounts } from "@/lib/blog/authors";

const authors = await getAuthorsWithPosts();
const authorPostCounts = await getAuthorPostCounts();

const authorsWithCount = authors.map((author) => {
  const count = authorPostCounts[author.id];
  return { ...author, count };
});
---

<aside class="authors-widget">
  <header class="authors-header">
    <h3 class="authors-title title-3">
      <a href="/blog/autor" class="anchor neutral">Autores</a>
    </h3>
  </header>
  <ul class="authors-list">
    {
      authorsWithCount.map((author) => (
        <li class="author-item">
          <a class="anchor primary" href={`/blog/autor/${author.id}`}>
            {author.data.name}
          </a>
          <span class="post-count">({author.count})</span>
        </li>
      ))
    }
  </ul>
</aside>

<style>
  .authors-title {
    color: var(--color-content-300);
  }

  .authors-list {
    max-width: 320px;
    padding-left: 1rem;
  }

  .author-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .post-count {
    font-size: 0.8rem;
    color: var(--color-content-200);
  }
</style>
