---
import { getCollection } from "astro:content";
const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<aside>
  <header>
    <h3 class="title-3">Artículos recientes</h3>
  </header>

  <ul class="list">
    {
      posts.map((entry) => (
        <li>
          <span class="date">
            {entry.data.publishDate.toLocaleDateString()}
          </span>
          <a class="anchor" href={`/blog/${entry.slug}`}>
            {entry.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</aside>

<style>
  h3 {
    color: var(--color-content-300);
  }
  .list {
    max-width: 320px;
    margin-left: 0rem;
    padding-left: 1rem;
  }
  li {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .date {
    font-size: 0.8rem;
    color: var(--color-content-200);
    margin-left: -0.5rem;
  }
</style>
