---
import { getAllPosts } from "@/services/strapi/repositories/post.repo";
const posts = await getAllPosts();
---

<aside class="recent-posts-widget">
  <header class="recent-posts-header">
    <h3 class="recent-posts-title title-3">
      <a href="/" class="anchor neutral">Artículos recientes</a>
    </h3>
  </header>
  <ul class="recent-posts-list">
    {
      posts.map((post) => (
        <li class="recent-post-item">
          <span class="recent-post-date">
            {post.publishedAt.toLocaleDateString()}
          </span>
          <a class="anchor primary" href={`/blog/${post.slug}`}>
            {post.title}
          </a>
        </li>
      ))
    }
  </ul>
</aside>

<style>
  .recent-posts-title {
    color: var(--color-content-300);
  }

  .recent-posts-list {
    max-width: 320px;
    margin-left: 0rem;
    padding-left: 1rem;
  }

  .recent-post-item {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .recent-post-date {
    font-size: 0.8rem;
    color: var(--color-content-200);
    margin-left: -0.5rem;
  }
</style>
