---
import HtmlLayout from "@/layouts/HtmlLayout.astro";
---

<HtmlLayout
  pageTitle="Tienda | Zunbeltz"
  pageDescription="Equipamiento y material para espeleología, barranquismo y escalada. Productos de calidad para tus aventuras"
  pageTags={[
    "tienda",
    "equipamiento",
    "material",
    "espeleología",
    "barranquismo",
    "escalada",
  ]}
>
  <main>
    <h1>Tienda</h1>
  </main>
</HtmlLayout>

<style>
  main {
    min-height: 100vh;
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1.5rem;
  }
</style>
