---
import {
  SignedIn,
  SignedOut,
  UserButton,
  SignInButton,
} from "@clerk/astro/components";
import "./AccountControls.css";
---

<nav>
  <SignedOut>
    <SignInButton mode="modal" asChild>
      <button class="SignInButton">Iniciar sesión</button>
    </SignInButton>
  </SignedOut>
  <SignedIn>
    <UserButton />
  </SignedIn>
</nav>
