---
import {
  SignedIn,
  SignedOut,
  UserButton,
  SignInButton,
} from "@clerk/astro/components";
import "./AccountControls.css";
---

<SignedOut class="cl-signed-out">
  <SignInButton mode="modal" asChild>
    <button class="button secondary">Iniciar sesión</button>
  </SignInButton>
</SignedOut>
<SignedIn class="cl-signed-in">
  <UserButton showName />
</SignedIn>
