.account-container {

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* Clase de clerk para el botón de 
perfil */
.cl-userButtonBox {
  color: var(--color-content-300);
  border-radius: 8px;
}

.cl-userButtonBox:hover {
  background-color: var(--color-surface-200);
}

/* Clase de clerk para el avatar */
.cl-userButtonAvatarBox {
  width: 36px;
  height: 36px;
}