---
import DesktopHeader from "@/components/header/DesktopHeader.astro";
import MobileHeader from "@/components/header/MobileHeader.astro";
---

<div class="desktop-header">
  <DesktopHeader />
</div>

<div class="mobile-header">
  <MobileHeader />
</div>

<style>
  .desktop-header {
    display: none;
  }

  @media (min-width: 768px) {
    .desktop-header {
      display: block;
    }
  }

  .mobile-header {
    display: block;
  }

  @media (min-width: 768px) {
    .mobile-header {
      display: none;
    }
  }
</style>
