---
import HtmlLayout from "@/layouts/HtmlLayout.astro";
import HeaderLayout from "@/layouts/HeaderLayout.astro";
import FooterLayout from "@/layouts/FooterLayout.astro";
---

<HtmlLayout
  pageTitle="Cuevas de Navarra | Zunbeltz"
  pageDescription="Zonas kársticas de Navarra y sus cavidades. Explora el mundo subterráneo de la provincia"
  pageTags={[
    "cuevas",
    "navarra",
    "espeleología",
    "karst",
    "cavidades",
    "subterráneo",
  ]}
>
  <HeaderLayout />
  <main>
    <h1>Cuevas de Navarra</h1>
  </main>
  <FooterLayout />
</HtmlLayout>

<style>
  main {
    min-height: 100vh;
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1.5rem;
  }
</style>
