---
import HtmlLayout from "@/layouts/HtmlLayout.astro";
import type { MetaInfo } from "@/components/SEO/MetaInfo";

const meta: MetaInfo = {
  pageTitle: "Montañas de Navarra | Zunbeltz",
  pageDescription:
    "Rutas, ascensiones y zonas de escalada en Navarra. Planifica tu próxima salida a la roca con nosotros.",
  pageTags: [
    "Montañismo",
    "Navarra",
    "Escalada",
    "Alpinismo",
    "Senderismo",
    "Pirineos",
    "Aralar",
    "Urbasa",
  ],
  pageUrl: `https://zunbeltz.org/navarra/montañas`,
};
---

<HtmlLayout metaInfo={meta}>
  <main>
    <h1>Montañas de Navarra</h1>
  </main>
</HtmlLayout>

<style>
  main {
    min-height: 100vh;
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1.5rem;
  }
</style>
