---
import HtmlLayout from "@/layouts/HtmlLayout.astro";
import type { MetaInfo } from "@/components/SEO/MetaInfo";
import og_rios from "@/assets/opengraph/og_rios.jpg";

const meta: MetaInfo = {
  pageTitle: "Barranquismo y Ríos de Navarra | Zunbeltz",
  pageDescription:
    "Ríos, foces y cauces del territorio navarro. Explora los cursos de agua más importantes",
  pageTags: ["Barranquismo", "Descenso de cañones", "Navarra", "Reseñas"],
  pageImage: og_rios.src,
  pageUrl: `https://zunbeltz.org/navarra/rios`,
};
---

<HtmlLayout metaInfo={meta}>
  <main>
    <h1>Ríos de Navarra</h1>
  </main>
</HtmlLayout>

<style>
  main {
    min-height: 100vh;
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1.5rem;
  }
</style>
