---
import HtmlLayout from "@/layouts/HtmlLayout.astro";
---

<HtmlLayout
  pageTitle="Ríos de Navarra | Zunbeltz"
  pageDescription="Ríos, foces y cauces del territorio navarro. Explora los cursos de agua más importantes"
  pageTags={["ríos", "navarra", "foces", "barranquismo", "naturaleza", "agua"]}
>
  <main>
    <h1>Ríos de Navarra</h1>
  </main>
</HtmlLayout>

<style>
  main {
    min-height: 100vh;
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1.5rem;
  }
</style>
